body{
    background-color: #CECCCC;
}

.container{
    background-color:#780116;
    max-width: 500px;
    min-height: 430px;
    padding-top: 20px;
}


h1, h2, h4{
    color:#FBFCFF;
    text-align:center;
    font-size: 30px;
}

hr{
    border-color:#FBFCFF8e;
}

.game-title{
    color:#780116;
}

#sub-head{
    font-size:1.5rem;
}

/* .push{
    margin-bottom: 100px;
} */

p{
    font-size:30px;
    color:#FBFCFF;
    text-align: center;
}

.continue{
    color:rgba(251, 252, 255, 0.493);
}
#hiddenWord-div, #letterGuesses-div{
    letter-spacing: 3px;
}

#mobile-keyboard{
    text-align: center;
}

#mobile-button{
    text-align: Right;
    float:center;
}

#youWin, #youLose{
    font-size: 40px;
}





@media (max-width: 500px) {
    h1{
        font-size:30px;
    }

    .display-4{
        font-size: 50px;
    }

    #sub-head{
        font-size:20px;
    }

    p{
        font-size:30px;
    }

    .container{
        min-height: 415px;
    }
}

@media (max-width: 400px) {
    h1{
        font-size:25px;
    }

    /* .display-4{
        font-size: 45px;
    }

    #sub-head{
        font-size:15px;
    } */

    p{
        font-size:25px;
    }

    .container{
        min-height: 390px;
    }
}

